section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-bold.font-s-40.text-up
        | Как выглядит формула 
        br
        | хорошей франшизы?
      .swiper-bullet
        .about-section__cards.swiper-wrapper
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="222" height="236" alt="icon")
            .font-s-24
              | У бизнеса есть сильное 
              br.no-br
              | УТП (уникальное 
              br.no-br
              | торговое предложение) 
              br.no-br
              | и он отличается от 
              br.no-br
              | других
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="222" height="236" alt="icon")
            .font-s-24
              | Открытие бизнеса 
              br.no-br
              | происходит быстро и 
              br.no-br
              | при полной поддержке 
              br.no-br
              | франчайзера
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="222" height="236" alt="icon")
            .font-s-24
              | Франчайзи уверен, что 
              br.no-br
              | бизнес-модель 
              br.no-br
              | эффективна и приносит 
              br.no-br
              | стабильную прибыль
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="222" height="236" alt="icon")
            .font-s-24
              | У бизнеса есть стратегия 
              br.no-br
              | развития и перспективы 
              br.no-br
              | для масштабирования
        .bullet-pagination
      .about-section__text.font-s-30
        | Франшиза, которую не страшно покупать
