section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1050" height="790" alt="image")
      h2.steps-section__title.font-w-bold.font-s-40.text-up
        | Меры поддержки партнеров сети
      .steps-section__sub-title.font-s-30
        | Как мы поможем вам на старте
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red Первый шаг
            .steps-section__card-text.font-s-24 Организуем регулярные <br> поставки продукции
          .steps-section__card.swiper-slide.steps-card-order-4
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red второй шаг
            .steps-section__card-text.font-s-24 Проведем для вас <br> подробное очное обучение
          .steps-section__card.swiper-slide.steps-card-order-7
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red третий шаг
            .steps-section__card-text.font-s-24 Передадим готовое <br> фирменное меню франшизы
          .steps-section__card.swiper-slide.steps-card-order-10
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red четвертый шаг
            .steps-section__card-text.font-s-24 Поможем найти, оборудовать <br> и оформить помещение
          .steps-section__card.swiper-slide.steps-card-order-2
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red пятый шаг
            .steps-section__card-text.font-s-24 Предоставим план <br> торжественного открытия
          .steps-section__card.swiper-slide.steps-card-order-5
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red шестой шаг
            .steps-section__card-text.font-s-24 Подключим к общему <br> программному обеспечению
          .steps-section__card.swiper-slide.steps-card-order-8
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red седьмой шаг
            .steps-section__card-text.font-s-24 Передадим технологии <br> производства десертов и блюд
          .steps-section__card.swiper-slide.steps-card-order-11
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red восьмой шаг
            .steps-section__card-text.font-s-24 Поможем найти и подготовить <br> к работе ваш персонал
          .steps-section__card.swiper-slide.steps-card-order-3
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red девятый шаг
            .steps-section__card-text.font-s-24 Предоставим списки <br> проверенных поставщиков
          .steps-section__card.swiper-slide.steps-card-order-6
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red десятый шаг
            .steps-section__card-text.font-s-23 Поделимся рабочими <br> маркетинговыми инструментами
          .steps-section__card.swiper-slide.steps-card-order-9
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red одиннадцатый шаг
            .steps-section__card-text.font-s-24 Дадим рекомендации <br> по ведению социальных сетей
          .steps-section__card.swiper-slide.steps-card-order-12
            .steps-section__card-title.font-w-bold.font-s-24.text-up.color-red двеннадцатый шаг
            .steps-section__card-text.font-s-23 Организуем постоянную личную <br> поддержку в удобном формате
        .bullet-pagination
      .steps-section__bottom
        img.steps-section__bottom-arrow(src="images/steps-section-bottom-arrow.png" loading="lazy" width="483" height="229" alt="image")
        .steps-section__bottom-text.font-w-bold.font-s-24.text-up
          | Получите договор, в 
          br.no-br
          | котором описаны 
          br.no-br
          span.color-red наши обязанности 
          |  и все 
          br.no-br
          span.color-red условия сотрудничества
        .steps-section__bottom-doc-box
          img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="810" height="532" alt="image")
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать
